.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  background: -webkit-linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00f3ff",GradientType=1);
}
.main h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.search {
  display: flex;
  justify-content: space-evenly;
}
.search input {
  font-size: 1.8rem;
  border: 2px solid white;
  border-radius: 23px;
  padding-left: 20px;
  margin-top: 1rem;
  width: 75%;
  float: left;
}
.search button {
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(145, 145, 145);
  background: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 1rem;
  width: 60px;
  float: left;
}
.search button:hover {
  color: white;
  background-color: #008f77;
}

.results {
  display: flex;
  justify-content: center;
}
.results p {
  font-size: 1.5rem;
}
.resultlist {
  background-color: rgba(59, 211, 186, 0.685);
  list-style: none;
  border-radius: 20px;
  padding: 0;
}
.resultitem {
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 12px 70px;
}
.resultitem:hover {
  background-color: rgba(59, 211, 186, 1);
}
.artistNotFound {
  color: red;
}

.details {
  padding: 0 5%;
  display: flex;
  flex-flow: row wrap;
}
.details button,
.compare button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 10px;
  background:rgba(75, 192, 192, 0.7);
  margin-top: 20px;
}
.details button:hover,
.compare button:hover {
  background: #18c5a8;
}
.stats {
  margin-bottom: 30px;
  width: 50%;
}
.charts {
  text-align: center;
  width: 50%;
}
@media (max-width: 992px) {
  .stats,
  .charts {
    width: 100%;
  }
}
.details h2 {
  font-size: 1.8em;
  margin: 0;
}
.details p {
  margin: 0.5rem;
  margin-left: 1.25rem;
}

.compare {
  text-align: center;
}
.compare table {
  font-size: 1.5rem;
  margin: 0 auto;
  border-collapse:collapse;
}
.compare th,
.compare td {
  padding: 5px 10px;
}
.compare th {
  text-align: right;
  /* border:1px solid black; */
}
.compare td {
  border-left: 3px solid #18c5a8;
  border-right: 3px solid #18c5a8;
}

.message {
  color: #008f77;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid  #008f77;
  border-radius: 20px;
  position: fixed;
  max-width:500px;
  margin: 2% auto;
  bottom: 1%;
  left: 0;
  right: 0;
  z-index: 1;
}
.message p {
  margin-top: 0;
}
