.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  background: -webkit-linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(58,195,123,1) 0%, rgba(0,243,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00f3ff",GradientType=1); 
}
.main h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.search {
  display: flex;
  justify-content: space-evenly;
}
.search input {
  font-size: 1.8rem;
  border: 2px solid white;
  border-radius: 23px;
  padding-left: 20px;
  margin-top: 1rem;
  width: 75%;
  float: left;
}
.search button {
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(145, 145, 145);
  background: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 1rem;
  width: 60px;
  float: left;
}
.search button:hover {
  color: white;
  background-color: #008f77;
}
